*{
    padding: 0;
    margin: 0;
}
body{
    width: 100vw;
    overflow:hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    width: 100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.upper{
    background-image:url(images/bg-desktop-dark.jpg);
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;
}
.upper img{
    display: inline;
}
.upper-inner{
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-top: 10vh;
}
#radio{
    background-color: rgb(80, 79, 79);
    border: none;
    color: grey;
    padding:10px;
}

img:hover{
    cursor: pointer;
}

input[type="checkbox"]{
    width: 20px;
    height: 20px;
    clip-path: circle(46% at 50% 50%);
}

input[type="text"]{
    padding: 10px;
    width: 32vw;
    width:100%;
    background-color: rgb(80, 79, 79);
    border: none;
    outline: none;
    color: grey;
}

.lower{
    background-color: black;
    width: 100vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    
}

.lower-inner{
    background-color: rgb(80, 79, 79); 
    height: 60vh;
    width: 35%;
    border-radius: 5px;
    margin-top: -20px;
}

.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
    margin-left: 32.5%;
    margin-bottom: 20px;
    width: 35%;
    gap: 10px;
    background-color:  grey; ;
    color: white;
    align-items: center;
    margin-top: -130px;
    height: 30px;

}

.taskitem{
    display: flex;
    padding: 10px;
    border-bottom: grey 1px solid;
    color: rgb(10, 3, 3);
    font-weight: bold;
}

.taskitem > div{
    margin-left: 10px;
    padding-left: 10px;
    
}

.bottom button{
    width:80px;
    font-weight: 700;
    border: none;
    color: rgb(10, 3, 3);
    background-color:  grey; 
}